*{
   
  font-family: 'Lucida console', monospace;

  
    color:#f0f0f0;
}

body {
  background-image: url("images/Background/AU_FG_Texture-5.jpg");
  margin: 0;
  font-family: 'Lucida console', monospace;

  text-align: center;
    line-height:1.1;
    
    background-color:  #1c1b21;
    color:#f0f0f0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
   position: -webkit-sticky; /* Safari */
  position: sticky;
top:  0;

}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {  
  background-color: #ddd;
}
.fa:hover {
    opacity: 0.7;
  }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #ffffff;
  color: Black;
  border-radius:  50%;
}

img{
  float: left;
  padding-left: 10%;
  width: 30%;

}

p {
  float: right;
 padding-right: 24%;

}