
*{
font-family: 'Source Sans Pro', sans-serif;
   
}
body {
  background-image: url("images/Background/AU_FG_Texture-1.jpg"); /*url("images/Background/AU_FG_Texture-4.jpg"), url("images/Background/AU_FG_Texture-5.jpg");*/
  background-position: center top; /*center center, center bottom;*/
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-attachment: fixed;

   margin: 0;
  text-align: center;
    line-height:1.1;
    
    background-color:  #1c1b21;
    color:#f0f0f0;
}


h1{
    letter-spacing: 0px;
  font-size: 55px;
}
  h2{
    font-weight: 300px;
    font-size: 35px;
  }
  ul.topnav {
   position: fixed;
   width: 100%;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:800px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:800px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
  @media screen  and (max-width: 800px) {
  h1{
  letter-spacing: 0px;
  font-size: 40px;

  }
    h2{
    font-weight: 300px;
    font-size: 25px;
  }
  }

.card {
  background-color: #181818;
  border-radius: 30px;
  max-width: 90%;
  margin: 5% auto;
  height: 100%;
  position: sitcky;
  padding-top: 10px;
  padding-bottom: 100px;
  color: #FFFF;
    }

@media screen  and (max-width: 800px) {
  .card {
  background-color: #181818;
  border-radius: 30px;
  max-width: 100%;
  margin: 5% auto;
  height: 100%;
  position: sitcky;
  padding-top: 10px;
  padding-bottom: 100px;
  color: #FFFF;
    }


.short {
   margin: 0;
display: inline-block;
position: relative;
   overflow: hidden;
  width: 100%; 
}



    .video {
  aspect-ratio: 21 / 9;
  width: 90%;
  top: 100px;
}

}
