
*{
font-family: 'Source Sans Pro', sans-serif;
   
}
body {
  background-image: url("images/Background/AU_FG_Texture-2.jpg"), url("images/Background/AU_FG_Texture-4.jpg"), url("images/Background/AU_FG_Texture-5.jpg");
  background-position: center top, center center, center bottom;
  background-repeat: no-repeat,no-repeat, no-repeat;

   margin: 0;


  text-align: center;
    line-height:1.1;
    
    background-color:  #1c1b21;
    color:#f0f0f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: block;
  color: #666
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {  
  background-color: #ddd;
}
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
*/

}
.short {
   margin: 0;
display: inline-block;
position: relative;
   overflow: hidden;
  width: 100%; 
}



    .video {
  aspect-ratio: 21 / 9;
  width: 90%;
  top: 100px;
}

}