
head{
	font-family: 'Lucida Console', monospace;
	margin: 10px auto;
}
body{
		
		font-family: 'Lucida Console', monospace;
		margin:30px auto;
		max-width:725px;
		line-height:1.1;
		padding: 10px;
    background-color: #808B96;
    color:black;

    }
table, th, td {
  border: 1px solid black;
}